/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    body {

        margin: 0;
        background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255) );
         }
       
         .content-container {
           height: 100vh;
           width: 100vw;
       
           /* child elements centers int the 
           middle of the screen */
           
       
        
       }
         
         .fakeButtons {
           height: 10px;
           width: 10px;
           border-radius: 50%;
           border: 1px solid #000;
           position: relative;
           top: 6px;
           left: 6px;
           background-color: #ff3b47;
           border-color: #9d252b;
           display: inline-block;
         }
         
         .fakeMinimize {
           left: 11px;
           background-color: #ffc100;
           border-color: #9d802c;
         }
         
         .fakeZoom {
           left: 16px;
           background-color: #00d742;
           border-color: #049931;
         }
         
         .fakeMenu {
             position: relative;
             z-index: 1;
       
           width: 40%;
           box-sizing: border-box;
           height: 25px;
           background-color: #bbb;
           margin: 0 auto;
           border-top-right-radius: 5px;
           border-top-left-radius: 5px;
         }
         
         .fakeScreen {
           background-color: #151515;
           box-sizing: border-box;
           width: 40%;
           margin: 0 auto;
           padding: 20px;
           border-bottom-left-radius: 5px;
           border-bottom-right-radius: 5px;
          
         }
         
         p {
           position: relative;
           left: 50%;
           margin-left: -8.5em;
           text-align: left;
           font-size: 1.25em;
           font-family: monospace;
           white-space: normal;
           overflow: hidden;
           width: 0;
         }
         
         span {
           color: #fff;
           font-weight: bold;
         }
         
         .line1 {
           color: #9CD9F0;
           -webkit-animation: type .5s 1s steps(20, end) forwards;
           -moz-animation: type .5s 1s steps(20, end) forwards;
           -o-animation: type .5s 1s steps(20, end) forwards;
           animation: type .5s 1s steps(20, end) forwards;
         }
         
         .cursor1 {
           -webkit-animation: blink 1s 2s 2 forwards;
           -moz-animation: blink 1s 2s 2 forwards;
           -o-animation: blink 1s 2s 2 forwards;
           animation: blink 1s 2s 2 forwards;
         }
         
         .line2 {
           color: #CDEE69;
           -webkit-animation: type .5s 4.25s steps(20, end) forwards;
           -moz-animation: type .5s 4.25s steps(20, end) forwards;
           -o-animation: type .5s 4.25s steps(20, end) forwards;
           animation: type .5s 4.25s steps(20, end) forwards;
         }
         
         .cursor2 {
           -webkit-animation: blink 1s 5.25s 2 forwards;
           -moz-animation: blink 1s 5.25s 2 forwards;
           -o-animation: blink 1s 5.25s 2 forwards;
           animation: blink 1s 5.25s 2 forwards;
         }
         
         .line3 {
           color: #E09690;
           -webkit-animation: type .5s 7.5s steps(20, end) forwards;
           -moz-animation: type .5s 7.5s steps(20, end) forwards;
           -o-animation: type .5s 7.5s steps(20, end) forwards;
           animation: type .5s 7.5s steps(20, end) forwards;
         }
         
         .cursor3 {
           -webkit-animation: blink 1s 8.5s 2 forwards;
           -moz-animation: blink 1s 8.5s 2 forwards;
           -o-animation: blink 1s 8.5s 2 forwards;
           animation: blink 1s 8.5s 2 forwards;
         }
         
         .line4 {
           color: #fff;
           -webkit-animation: type .5s 10.75s steps(20, end) forwards;
           -moz-animation: type .5s 10.75s steps(20, end) forwards;
           -o-animation: type .5s 10.75s steps(20, end) forwards;
           animation: type .5s 10.75s steps(20, end) forwards;
         }
         
         .cursor4 {
           -webkit-animation: blink 1s 11.5s infinite;
           -moz-animation: blink 1s 8.5s infinite;
           -o-animation: blink 1s 8.5s infinite;
           animation: blink 1s 8.5s infinite;
         }
         
         @-webkit-keyframes blink {
           0% {
             opacity: 0;
           }
           40% {
             opacity: 0;
           }
           50% {
             opacity: 1;
           }
           90% {
             opacity: 1;
           }
           100% {
             opacity: 0;
           }
         }
         
         @-moz-keyframes blink {
           0% {
             opacity: 0;
           }
           40% {
             opacity: 0;
           }
           50% {
             opacity: 1;
           }
           90% {
             opacity: 1;
           }
           100% {
             opacity: 0;
           }
         }
         
         @-o-keyframes blink {
           0% {
             opacity: 0;
           }
           40% {
             opacity: 0;
           }
           50% {
             opacity: 1;
           }
           90% {
             opacity: 1;
           }
           100% {
             opacity: 0;
           }
         }
         
         @keyframes blink {
           0% {
             opacity: 0;
           }
           40% {
             opacity: 0;
           }
           50% {
             opacity: 1;
           }
           90% {
             opacity: 1;
           }
           100% {
             opacity: 0;
           }
         }
         
         @-webkit-keyframes type {
           to {
             width: 17em;
           }
         }
         
         @-moz-keyframes type {
           to {
             width: 17em;
           }
         }
         
         @-o-keyframes type {
           to {
             width: 17em;
           }
         }
         
         @keyframes type {
           to {
             width: 17em;
           }
         }
       
        
         /* CSS code from  https://stackoverflow.com/questions/41907250/zoom-in-zoom-out-img-automatically-using-css-only
         and 
          http://jsbin.com/tacir/6/edit?html,css,js,output*/
         
         .fakeMenu{
           animation: menu-entrance 1s ease-in;
       }
       
       @keyframes menu-entrance {
         0% {
           transform: scale(0);
         }
       
         100% {
           transform: scale(1);
         }
       }
       
       
       .fakeScreen{
           animation: screen-entrance 1s ease-in ;
       }
       
       @keyframes screen-entrance {
         0% {
           transform: translateY(-100%);
         }
       
         100% {
           transform: translateY(0);
         }
       }
       
       .content-container{
           
           animation: screen-entrance 1s ease-in ;
       }
       
       @keyframes screen-entrance {
         0% {
           transform: translateY(-100%);
         }
       
         100% {
           transform: translateY(0);
         }
       }
       
       .bg{
           position: absolute;
           z-index: -1;
           left: 25%;
           top: 10%;
           width: 200px;
           height: 280px;
       background-image: url("engine1.gif");
       }
       
       #gif{
           position: absolute;
           width: 75px;
           height: 110px;
           left: 63%;
           top: 3%;
           animation: screen-entrance-mennet 4s ;
       border-radius: 100%;
       animation: screen-entrance-mennet 4s ;
       }
       
       
       
       @keyframes screen-entrance-mennet {
           0% {
               
          opacity: 0;
           }
         
           90%{
               border-style: solid ;
               opacity: 0.1;
           }
       
           100% {
          opacity: 1;
           }
       
         }
    }   


    @media only screen and (max-width: 600px) {
/* media break point */
/* Small devices (portrait tablets and large phones, 599spx and less) */



body {

 margin: 0;
 background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255) );
  }

  .content-container {
    height: 100vh;
    width: 100vw;

    /* child elements centers int the 
    middle of the screen */
    

 
}
  
  .fakeButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 6px;
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
  }
  
  .fakeMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  
  .fakeZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
  }
  
  .fakeMenu {
      position: relative;
      z-index: 1;

    width: 100%;
    box-sizing: border-box;
    height: 25px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
  }
  
  p {
    position: relative;
    left: 50%;
    margin-left: -8.5em;
    text-align: left;
    font-size: 1.25em;
    font-family: monospace;
    white-space: normal;
    overflow: hidden;
    width: 0;
  }
  
  span {
    color: #fff;
    font-weight: bold;
  }
  
  .line1 {
    color: #9CD9F0;
    -webkit-animation: type .5s 1s steps(20, end) forwards;
    -moz-animation: type .5s 1s steps(20, end) forwards;
    -o-animation: type .5s 1s steps(20, end) forwards;
    animation: type .5s 1s steps(20, end) forwards;
  }
  
  .cursor1 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
  }
  
  .line2 {
    color: #CDEE69;
    -webkit-animation: type .5s 4.25s steps(20, end) forwards;
    -moz-animation: type .5s 4.25s steps(20, end) forwards;
    -o-animation: type .5s 4.25s steps(20, end) forwards;
    animation: type .5s 4.25s steps(20, end) forwards;
  }
  
  .cursor2 {
    -webkit-animation: blink 1s 5.25s 2 forwards;
    -moz-animation: blink 1s 5.25s 2 forwards;
    -o-animation: blink 1s 5.25s 2 forwards;
    animation: blink 1s 5.25s 2 forwards;
  }
  
  .line3 {
    color: #E09690;
    -webkit-animation: type .5s 7.5s steps(20, end) forwards;
    -moz-animation: type .5s 7.5s steps(20, end) forwards;
    -o-animation: type .5s 7.5s steps(20, end) forwards;
    animation: type .5s 7.5s steps(20, end) forwards;
  }
  
  .cursor3 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
  }
  
  .line4 {
    color: #fff;
    -webkit-animation: type .5s 10.75s steps(20, end) forwards;
    -moz-animation: type .5s 10.75s steps(20, end) forwards;
    -o-animation: type .5s 10.75s steps(20, end) forwards;
    animation: type .5s 10.75s steps(20, end) forwards;
  }
  
  .cursor4 {
    -webkit-animation: blink 1s 11.5s infinite;
    -moz-animation: blink 1s 8.5s infinite;
    -o-animation: blink 1s 8.5s infinite;
    animation: blink 1s 8.5s infinite;
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @-moz-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @-o-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @keyframes type {
    to {
      width: 17em;
    }
  }

 
  /* CSS code from  https://stackoverflow.com/questions/41907250/zoom-in-zoom-out-img-automatically-using-css-only
  and 
   http://jsbin.com/tacir/6/edit?html,css,js,output*/
  
  .fakeMenu{
    animation: menu-entrance 1s ease-in;
}

@keyframes menu-entrance {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


.fakeScreen{
    animation: screen-entrance 1s ease-in ;
}

@keyframes screen-entrance {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.content-container{
    
    animation: screen-entrance 1s ease-in ;
}

@keyframes screen-entrance {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.bg{
    position: absolute;
    z-index: -1;
    left: 25%;
    top: 10%;
    width: 200px;
    height: 280px;
background-image: url("engine1.gif");
}

#gif{
    position: absolute;
    width: 75px;
    height: 90px;
    left: 70%;
    top: 2%;
    animation: screen-entrance-mennet 4s ;
border-radius: 100%;
animation: screen-entrance-mennet 4s ;
}



@keyframes screen-entrance-mennet {
    0% {
        
   opacity: 0;
    }
  
    90%{
        border-style: solid ;
        opacity: 0.1;
    }

    100% {
   opacity: 1;
    }

  }
    }
